ul{
    list-style: none;
}

#mostrapizzarias, #pizzariasRoleta{
    display: none;
}
#mostrapizzarias img{
    width: 50% !important;
    height: 10% !important;
}
.imgpizza{
    width: 80%;
    height: 80%;
}
#roleta{
    /* transform: rotate(50grad); */
    width: 80%;
    height: 80%;
}
.btsescolha{
    width:100%;
    height:150px;
    color:white;
    font-size: x-large;
}
#ponteiro{
    position:absolute;
    top:37% !important;    
    left:32%;
    width:35%;
    height: 40px;
    background-color: rgba(26, 199, 10, 0.8);  
    transform: rotate(90deg);
    border-radius: 60px;
    text-align: center !important;    
    font-size: x-large !important;
    color:red;
}

/* 
    90deg = calabresa
    135deg = mussarela
    180deg = brocolis
    225deg = mafiosa
    270deg = basca
    315deg = escarola
    360deg = alho_e_oleo
    410deg = margherita
    450deg = calabresa-fim
*/
